@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
    padding: 0;
    margin: 0;
        background-color: #F0F0F0;

}
h2{
    margin-top: 0;
}
#navbar{
    padding: 0;
    z-index: -1;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}
#nav-wrap{
    width : 100%;
    list-style-type: none;
    display: inline-block;
    float: left;
    position: relative;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    padding:0;
    padding-right:0px;
    background: linear-gradient(top, #ffffff ,#e2e2e2 );
    background: -webkit-linear-gradient(top, #ffffff ,#e2e2e2 );
    background: -moz-linear-gradient(top, #ffffff , #e2e2e2 );
    position: fixed;
    top: 0px;
    right: 0px;
}

#rtp{
    font-size: 25px;
    padding-top: 14px;;
}

.link a{
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    //font-weight: bold;
    position: relative;
    min-width: 60px;
    float: left;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-decoration: none;
    color:#606060;
    border-right:1px solid #e2e2e2;
    /*background: linear-gradient(top, #ffffff ,#e2e2e2 );
    background: -webkit-linear-gradient(top, #ffffff ,#e2e2e2 );
    background: -moz-linear-gradient(top, #ffffff , #e2e2e2 );*/
}
#right{
    float: right;
    padding-right: 50px;
}

a:hover{
    color: #000000;
}

#questions{
    margin-top: 100px;
}
#container {
    margin-top: 100px;
    position: absolute;
}

#left {
    width:250px;
    float:left;
    border-right: 2px solid black;
    position:fixed;
}

#middle {
    float: left;
    margin-left:250px;
    color:red;
    background-color: #F0F0F0;
    height:100%;
    font-size:20px;
}

ul li{
    list-style-type: none;
}

a:link {
    text-decoration:none;
}