@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);


/* for whole body */
body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    color:#444;
}


h2{
    margin-top: 0;
}

#question{
    text-align: center;
}

/* for headder */
#navbar{
    padding: 0px;
    margin: 0;
    font-family: 'Rock Salt', cursive;
    letter-spacing: 1px;
    height:100px;
}
#nav-wrap{
    width : 100%;
    height:70px;
    background-color:#2da1dc ;
    list-style-type: none;
    display: inline-block;
    float: left;
    position: relative;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    padding:0;
    padding-right:0px;
    top: 0px;
    right: 0px;

}
/* for heading roll the poll */
#rtp{
    font-size: 30px;
    padding-top: 0px;;
    color: white;
    margin-bottom: 15px;
    margin-left: 50px;
    text-decoration: none;

}

.link a{
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    min-width: 60px;
    float: left;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-decoration: none;
    color:#606060;

}

/* for name at headder */
#name {
    float: right;
    padding-right: 30px;
    font-size:25px;
    padding: 0px;
    margin-top: 10px;
    margin-right: 50px;
}

ul li{
    list-style-type: none;
}

/* for container of main home page */
#middle {
    width:70%;
    float:left;
    min-height: 100%;
}

#container {
    display:inline;
    position:absolute;
    width: 100%;

}
/* for compose button */
#button {
    float: right;
    font-size: 20px;
    position: relative;
    color:#ffffff;
    background-color:#357ae8 ;
    padding: 7px 40px ;
    border:1px solid #357ae8;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
    margin-right:220%;
}
/* for all div blocks in home page that is block for every poll */
.block {
    background-color: #ffffff;
    margin:15px;
    padding: 15px;
    text-align: justify;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #444;
}

a:visited {
    color:black;
}

a:hover{
    text-decoration: underline;
}

.question{
    color: #000000;
    font-weight: 300;
    font-size: 1.2em;
}
span .user{
    color: #375ae8;
}

li img.que_img{
    background-color: #375ae8;
    padding: 1px;
}

#que_img {
    width:10px;
    height:10px;
}
.tick {

    height: 20px;
    witdh: 20;
}
/* for add poll form */
#add_poll_form {
    height: auto;
    width: 650px;
    margin: auto;
    font-size: 20px;
    margin-top: 10px;
    padding: 40px;
    padding-top: 5px;
    background-color: #ffffff;
}

#poll {
    min-width:500px;
    min-height:150px;
    resize: none;
}

/* for comment page */
#vote_form {
    height: auto;
    width: 650px;
    margin: auto;
    font-size: 20px;
    margin-top: 10px;
    padding: 40px;
    padding-top: 5px;
    background-color: #ffffff;
}

#comment {
    width:600px;
    height:150px;
}

#submit {

    color:#ffffff;
     background-color:#2da1dc ;
    padding: 10px 120px;
    border:1px solid #357ae8;
    cursor: pointer;
    font-size: 20px;
}

#poll_category {
    width:130px;
    height:30px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

#middle {
    margin:auto;
  //  background-color: white;
    width:60%;
    margin-left:10%;
    margin-top:20px;
    float:left;
}

/* for poll participated page */
.profile_question {
    background-color: white;
    margin-top: 15px;
    padding:15px;
}
/* for profile page */
#profile_para {
    font-size: 25px;
}

#profile_name {
    color:#2da1dc;
}


.profile_question a {
    text-decoration: none;
    color: black;
}

.profile_question a:visited {
    color:black;
}

.profile_question  a:hover{
    text-decoration: underline;
}



#piechart{
    margin: auto;
}

.comment {
    background-color: #ffffff;
    padding:5px;
 }

.name_comment {
    color: #2da1dc;
}

#fotter {
    position:absolute;
    width:100%;
    height:30px;
    background-color: #2da1dc;
    clear: both;
    text-align: center;
    padding: 8px;
    bottom: -180px;

}

#profile {
    color: #444;
    font-size: 25px;


}

/*  for compose and trending */


#trending {
    width:100%;
    height: auto;
    margin-top: 40%;
    position: relative;
    font-size: 12px;
}

#comp_trend {
    position: relative;
    float: left;
    width:25%;


}


#compose {
    position:relative;
    float:right;
    display:inline-block;
    width:10%;
    height:20%;
    right:0px;
    background-color:#f2f2f2 ;
    margin-top: 0px;
    margin-top: 0px;
}
#name_trend {
    font-size:20px;
    text-align: center;
}


#category {
    text-align: right;
}