
.heading {
    font-size: 100px;
}

body {
    background-image:url("/static/img/background.jpg" );
    margin-top:-200px;
    position:relative;

}

/* for heading roll the poll */
h1 {
    font-family: 'Playball', cursive;
    width: 350px;
    height:40px;
    margin:auto;
    text-align: center;
    color:red;
    float:left;
    font-size: 45px;
    margin-top:-130px ;

}
/* for the signup only */
h2 {
    width: 350px;
    height:30px;
    margin:auto;
    text-align: center;
    margin-top: 100px;
    font-size:38px;
    font-weight:400;
    color:#555;
    font-family: 'open sans';
    margin-top: 350px;
}


#container {
    height: auto;
    width: 350px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    margin: auto;
    font-size: 20px;
    background-color: #f7f7f7;
    margin-top: 67px;
    font-family: arial;
    padding: 40px;
    border-radius: 10px;
}

#button {
   margin-left:16px;


    color:#ffffff;
     background-color:#6D7773 ;
    padding: 10px 120px;
    border:1px solid #357ae8;
    -moz-border-radius: 6px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

#sign_in {
    font-size: 13px;
    float:right;
    padding-right: 25px;
    padding-top:15px;
    text-align: right;
    color:#427fed;
    cursor: pointer;
    margin-left:15px;
    text-decoration: none;
}

.error {
    color:red;
    font-size: 15px;
}

#flash {
    float:left;
    color:white;
}