{% extends "base.html" %}
{% block content %}
<div id = "form">
    <form  action = "" method = "post" name = "add_poll">
    {{ form.errors }}
    {{ form.hidden_tag() }}
    <p>Poll:  {{form.poll}}</p>
    {% for error in form.errors.poll %}
    <span class="error">{{error}}</span>
    {% endfor %}

    <p>Choice 1: {{ form.choice1 }}</p>
    <p>Choice 1: {{ form.choice2 }}</p>
    <p>Choice 1: {{ form.choice3 }}</p>
    <p>Choice 1: {{ form.choice4 }}</p>
    {{ form.anonymous}}
    {{ form.category }}
    {{ form.submit }}
    </form>
</div>



{% endblock %}
