<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Roll The Poll</title>
    {% else %}
    <title>Roll The Poll</title>
    {% endif %}
    <link rel="stylesheet" href="/static/css/signup.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>Roll The Poll</h1>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        {% block content %}
        
        {% endblock %}
    </div>
</body>
</html>
