<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ g.user.name }}</title>
    <link rel="stylesheet" href="/static/css/base.css">

</head>
<body>
<div id="navbar">
    <ul id = nav-wrap>
        <li class ="link" ><a href="" id = "rtp">Roll The Poll</a></l1>
        <li class ="link"><a href="">Home</a></l1>
        <li class ="link"><a href="" id="right">{{ g.user.name }}</a></l1>
    </ul>
</div>
<div>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
</div>
{% block content %}
{% endblock  %}

</body>
</html>