{% extends "base.html" %}
{% block content %}
<ul id="home-polls">

{% for poll_tuple in poll_list %}
<div class="block">
    <li>
    {% if poll_tuple[0].id in voted_polls %}
        <img src = "/static/img/green-tick.png" class="tick"  alt="voted" />
    {% else%}
        <img src="/static/img/que.png" class="que_img">
    {% endif %}
    <a href="/poll/{{ poll_tuple[1] }}" class="question"> {{ poll_tuple[0] }}</a>
    </li>
    {% if poll_tuple[0].anonymous %}
        <span class="poll-block">Rolled by Anonymous &nbsp;
    {% else %}
        <span>Rolled by <a href="/profile/{{ poll_tuple[0].creator.id }}" class="user">{{ poll_tuple[0].creator.name }}</a>&nbsp;
    {% endif %}
   </br> <small> &nbsp;{{momentjs(poll_tuple[0].timestamp).fromNow() }} </small></span></br>

    <ol>
        {% for choice in poll_tuple[0].choices.all() %}
        <li>{{ choice }}</li>
        {% endfor %}
    </ol>
<div id="category">Category: {{ poll_tuple[0].category }}</div>

</div>
{% endfor %}
</ul>
{% endblock %}
