{% extends "signup_base.html" %}
{% block content %}
<h2 class="blue">Sign In</h2>
<form id="form" action = "" method = "post" name = "signup">
    {{form.hidden_tag()}}


    <p>Email &nbsp;&nbsp; &nbsp; &nbsp; {{form.email}}</p>
    {% for error in form.errors.email %}
    <span class="error">{{error}}</span>
    {% endfor %}

    <p>Password {{ form.password }}</p>
    {% for error in form.errors.password %}
    <span class="error">{{error}}</span>
    {% endfor %}


    <p>{{ form.remember_me }} Remember Me </p>

    <input id="button" type = "submit" value = "Sign In"><br>
        <a id="sign_in" href="/register">Sign Up, to Register! </a>

</form>
{% endblock %}
