{% extends "base.html" %}
{% block content %}
    {% if user %}
    <p>Polls rolled by {{ user.name }}</p>
        <ul>
        {% if anonymous %}
            {% for poll in user.polls %}
                {% if not poll.anonymous %}
                    <li><a href = "/poll/{{ poll.body.replace(' ', '-').replace('?', '~') }}">{{ poll }}</a></li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for poll in user.polls %}
                <li><a href = "/poll/{{ poll.body.replace(' ', '-').replace('?', '~') }}">{{ poll }}</a></li>
            {% endfor %}
        {% endif %}
        </ul>
    {% endif %}
{% endblock %}