{% extends "base.html" %}
{% block content %}

    {% if user %}
    <p id="profile_para">Polls rolled by  <span id="profile_name">{{ user.name }}</span> </p>
        <ul>
        {% if is_anonymous %}
            {% for poll in user.polls %}
                {% if not poll.anonymous %}
                 <div class="profile_question">    <li><a href = "/poll/{{ poll.body.replace(' ', '-').replace('?', '~') }}">{{ poll }}</a></li></div>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for poll in user.polls %}
                <div class="profile_question"> <li><a href = "/poll/{{ poll.body.replace(' ', '-').replace('?', '~') }}">{{ poll }}</a></li></div>
            {% endfor %}
        {% endif %}
        </ul>
    
    <p><a href="/participated"  id='profile'>Polls Participated</a></p>
    {% endif %}

{% endblock %}
