{% extends "base.html" %}
{% block content %}
<h2>Sign up to Poll</h2>
<form id="container" action = "" method = "post" name = "signup">
    {{form.hidden_tag()}}
    <p>Name &nbsp; &nbsp; &nbsp; {{form.name}}</p>
    {% for error in form.errors.name %}
    <span class="error">{{error}}</span>
    {% endfor %}

    <p>Email  &nbsp;&nbsp;&nbsp; &nbsp; {{form.email}}</p>
    {% for error in form.errors.email %}
    <span class="error">{{error}}</span>
    {% endfor %}

    <p>Password {{ form.password }}</p>
    {% for error in form.errors.password %}
    <span class="error">{{error}}</span><br>
    {% endfor %}

    <p>Confirm &nbsp;&nbsp; {{ form.password2 }}</p>
    {% for error in form.errors.password2 %}
    <span class="error">{{error}}</span>
    {% endfor %}
    <br>

    <input id="button" type = "submit" value = "Sign Up">
    <a id="sign_in" href="/login">Already Signed Up? Sign In ! </a>




</form>



{% endblock %}
