{% extends "base.html" %}
{% block content %}
    {% if not voted %}

        <form method="post" id="vote_form">
            {{ form.hidden_tag() }}
            {{ poll }}
               <ul>
            <li>{{ form.choice }}</li>
            </ul>
            Comment your views <br>{{ form.comment }}<br><br>
            {{ form.anonymous }} comment anonymously<br><br>
            {{ form.submit }}
        </form>
    {% endif %}
    {% if voted %}
        <h2 id="question">{{ poll }}</h2>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable({{ choice_vote|safe }});

        var options = {

          is3D: true
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
        <div id="piechart" style="width: 600px; height: 400px;"> </div>
        <ol>
        {% for choice in poll.choices.all() %}
        <li><p>{{ choice }}</p></li>
        <ul>
            {% for comment in choice.comments %}
                {% if comment %}
                <li class="comment">
                    {% if comment.anonymous and not (comment.commenter.id == g.user.id) %}
                        Anonymous :
                    {% else %}
                    <span class="name_comment">    {{ comment.commenter.name }}&nbsp: </span>
                    {% endif %}
                    &nbsp {{comment}}</li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}
        </ol>
    {% endif %}
{% endblock %}
