{% extends "base.html" %}
{% block content %}
    {% if not voted %}

        <form method="post" id="vote_form">
            {{ form.hidden_tag() }}
            {{ poll }}
               <ul>
            <li>{{ form.choice }}</li>
            </ul>
            Comment your views <br>{{ form.comment }}<br><br>
            {{ form.anonymous }} Anonymous<br><br>
            {{ form.submit }}
        </form>
    {% endif %}
    {% if voted %}
        <p>{{ poll }}</p>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable({{ l|safe }});

        var options = {
          title: '{{ poll.body|safe }}',
          is3D: true
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
        <div id="piechart" style="width: 400px; height: 400px;"> </div>
        <ol>
        {% for choice in poll.choices.all() %}
        <li><p>{{ choice }}</p></li>
        <ul>
            {% for comment in choice.comments %}
                {% if comment %}
                <li>{{comment}}</li><br/><p>commented by {{ comment.commenter.name }}
                {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}
        </ol>
    {% endif %}
{% endblock %}